### Build output ###
target/
out/
bin/
doc/

### Render output ###
images/
render-history/

### IDE and editor files ###
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

### OS files ###
.DS_Store
